<div class="row">
<form class="login-form col rounded border" style="background: rgba(180, 180, 180, 0.5)">
  <div class="d-flex align-items-center flex-column">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" class="mb-3"/>
  </div>
  <div>
    <button type="submit" class="btn btn-secondary">login</button>
  </div>
  </div>
</form>

<form class="signup-form col rounded border" style="background: rgba(180, 180, 180, 0.5)">
  <div class="d-flex align-items-center flex-column">
  <div> 
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" class="mb-3"/>
  </div>
  <div>
    <button type="submit" class="btn btn-secondary">signup</button>
  </div>
  </div>
</form>
</div>
</div>
<script src="/javascript/login.js"></script>